<!DOCTYPE html>
<html>
<head>
  <title>CookieScout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="page">
    <div id="sidebar">
    <ul id="sidebar-items">
      <li>
        <h3>Buy More Cookies!</h3>
        <ul class="links">
          <li><a href="http://www.girlscoutcookies.org/">Cookies</a></li>
          <li><a href="http://www.girlscouts.org/">Girl Scouts of America</a></li>
          <li><a href="http://www.girlscoutsofcolorado.org/">Girl Scouts of Colorado</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="content">
    <div id="header">
      <h1>Cookie Tracker</h1>
      <h2>Manage Your Cookie Sales</h2>
    </div>

    <div id="getting-started">
        <%= yield %>
     </div>

  </div
</div>
<button onclick="javascript:window.location='/'">Home</button>
</body>
</html>
